---
layout: base
title: Home
tags: page
---

<img src="assets/images/razorhollow._black_labrador_retriever_sitting_in_a_field_of_swi_a27acb85-2db2-40b9-b0a7-5f83fc1e4a68.webp" alt="the lu lab">

<!-- Shortcode in use -->
{% headers "Home", "Learning SSG"%}

<br>

I am a site built with <a href="https://www.11ty.io/">Eleventy</a>

This site is my effort to understand Eleventy. I am doing so by guiding others.

Together, we will Learn Eleventy.

